@import url('main.css');
@font-face {
    font-family: 'proxima Condensed Bold';
    src: url('fonts/Proxima Nova ScOsf Condensed Bold.otf');
}

@font-face {
    font-family: 'proxima thin';
    src: url('fonts/Proxima Nova ScOsf Thin.otf');
}

@font-face {
    font-family: 'proxima Alt Condensed Extrabold Italic';
    src: url('fonts/Mark Simonson - Proxima Nova Alt Condensed Extrabold Italic.otf');
}

@font-face {
    font-family: 'proxima Alt Regular';
    src: url('fonts/Mark Simonson - Proxima Nova Alt Regular.otf');
}

@font-face {
    font-family: 'Proxima Nova Regular';
    src: url('fonts/Mark Simonson - Proxima Nova Regular.otf');
}

@font-face {
    font-family: 'Proxima Nova ScOsf Condensed Regular';
    src: url('fonts/Mark Simonson - Proxima Nova ScOsf Condensed Regular.otf');
}

@font-face {
    font-family: 'Proxima Nova ScOsf Regular';
    src: url('fonts/Proxima Nova ScOsf Regular.otf');
}


/************ Page Css ***************/

.container {
    display: block;
    position: relative;
    top: 20px;
    height: auto;
    width: 100%;
    padding: 0px;
    box-sizing: border-box;
}

.banner-box {
    position: relative;
    top: 0px;
    width: 100%;
    height: 90vh;
    min-height: 400px;
    background-image: url('assets/Images/banner-5.jpg');
    background-size: cover;
}

.banner-overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .2), rgba(0, 0, 0, .1));
    color: white;
    border: none;
}

.banner-overlay h2 {
    position: relative;
    top: 56%;
    padding: 10px;
    box-sizing: border-box;
    font-size: 2.1em;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .5);
}

.button-box {
    position: relative;
    top: 53%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    width: 19em;
}

.mini-container {
    position: relative;
    width: calc(100% - (16px + 2vw));
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.mini-container-partition {
    width: 100%;
    height: 25vw;
    min-height: 80px;
    margin: 5px 0px;
    display: flex;
    flex-direction: row;
    border: 1px solid lightgray;
    border-radius: 4px;
    padding: 1px;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 0px -2px 4px rgba(128, 128, 128, .2), 0px 2px 4px rgba(128, 128, 128, .2);
}

.mini-container-partition:hover {
    cursor: pointer;
}

.mini-container-partition-text-box {
    position: relative;
    width: 60%;
    padding: 2%;
    box-sizing: border-box;
    font-family: 'proxima Alt Regular';
    text-align: left;
}

.mini-container-partition-text-box h3 {
    font-family: 'proxima thin';
    font-weight: bolder;
    margin-bottom: 0;
    font-size: 1em;
    color: indianred;
}

.mini-container-partition-text-box p {
    position: relative;
    top: -10px;
    font-size: 0.875em;
    color: gray;
}

.mini-container-partition-img-box {
    width: 40%;
    height: 100%;
}

.ad-container {
    position: relative;
    display: flex;
    width: 100%;
    margin: 20px 0px;
    flex-direction: column;
    box-sizing: border-box;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 4px;
    box-shadow: 0px -2px 4px rgba(165, 165, 165, .1), 0px 2px 4px rgba(165, 165, 165, .1);
}

.ad-container-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    font-family: 'proxima thin';
    color: tomato;
    text-align: left;
    padding: 0px calc(13px + 1vw);
    box-sizing: border-box;
}

#viewDealsButton {
    width: 1.11em;
    height: 1.33em;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

#viewDealsButton:hover {
    cursor: pointer;
}

.ad-container-body {
    position: relative;
    width: calc(100% - (16px + 2vw));
    margin: auto;
    height: 76vw;
    min-height: 270px;
    overflow: hidden;
}

.ad-container-body-inner {
    width: 100%;
    height: calc(100% + 20px);
    overflow-x: scroll;
}

.ad-container-partition-holder {
    display: flex;
    flex-direction: row;
    height: 75vw;
    width: calc(200% - 60px);
}

.ad-container-partition {
    position: relative;
    width: calc(98vw - 10px);
    height: calc(75vw - 20px);
    min-height: 200px;
    margin: 10px 5px;
    border-radius: 4px;
    overflow: hidden;
}

.ad-container-partition-overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    color: white;
    font-family: 'proxima thin';
    border-radius: 4px;
    padding: 5px;
    box-sizing: border-box;
    background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .1), rgba(0, 0, 0, .5));
}

.ad-container-partition-overlay:hover {
    background-image: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .5), rgba(0, 0, 0, .8));
    cursor: pointer;
}

.ad-container-partition-overlay h3 {
    position: absolute;
    top: 10%;
    left: 5%;
    text-align: left;
    font-size: 1.5em;
    width: 110px;
    margin: 0;
}

.ad-container-partition-overlay span {
    position: absolute;
}

.ad-container-partition-overlay span:nth-child(2) {
    bottom: 25%;
    left: 5%;
}

.ad-container-partition-overlay span:nth-child(3) {
    bottom: 10%;
    left: 5%;
    background-color: rgba(72, 209, 204, .2);
    font-size: 0.75em;
    padding: 3px 6px;
    box-sizing: border-box;
    border-radius: 8px;
}

.ad-container-partition-overlay span:nth-child(4) {
    bottom: 25%;
    right: 5%;
}

.ad-container-footer {
    width: 100%;
    height: 40px;
    padding: 0px calc(8px + 1vw);
    box-sizing: border-box;
}


/************** Media Queries ****************/

@media only screen and (min-width: 768px) {
    .banner-box {
        height: 400px;
        background-image: url('assets/Images/banner-2.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }
    .mini-container {
        justify-content: space-between;
    }
    .mini-container-partition {
        position: relative;
        width: 33%;
        height: 20vw;
        min-height: 280px;
    }
    .mini-container-partition-img-box {
        position: absolute;
        bottom: 0;
        margin: auto;
        width: calc(100% - 2px);
        height: calc(100% - 6.25em);
    }
    .mini-container-partition-text-box {
        position: absolute;
        top: 0;
        width: 100%;
        height: 6.25em;
    }
    .ad-container-body {
        height: 36vw;
        overflow: hidden;
    }
    .ad-container-partition-holder {
        height: 35vw;
    }
    .ad-container-partition {
        width: calc(45vw - 10px);
        height: calc(35vw - 20px);
    }
}

@media only screen and (min-width: 1000px) {
    .banner-box {
        background-image: url('assets/Images/banner-3.jpg');
    }
}

@media only screen and (min-width: 1280px) {
    .container {
        width: 1110px;
        margin: auto;
        top: 80px;
    }
    .banner-box {
        height: 430px;
        background-image: url('assets/Images/banner-3.jpg');
    }
    .banner-overlay {
        background-image: linear-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, .2), rgba(0, 0, 0, .8));
    }
    .mini-container {
        justify-content: space-between;
        width: calc(100% - 10px);
        margin: auto;
    }
    .mini-container-partition {
        max-height: 300px;
        width: 33%;
    }
    .mini-container-partition-text-box h3 {
        font-size: 1.2em;
    }
    .ad-container {
        width: calc(100% - 10px);
        margin: 20px auto;
    }
    .ad-container-header {
        height: 60px;
        padding-left: 10px;
    }
    .ad-container-body {
        height: 337px;
        width: 100%;
        margin: 0;
    }
    .ad-container-body-inner {
        height: calc(100% + 20px);
        overflow-x: scroll;
        scroll-behavior: smooth;
    }
    .ad-container-partition-holder {
        height: 320px;
        width: 1840px;
    }
    .ad-container-partition {
        width: 450px;
        height: 300px;
        margin: auto;
        max-height: 600px;
    }
    .ad-container-body-inner::-webkit-scrollbar {
        height: 5px;
    }
    .ad-container-footer {
        padding: 0px;
    }
}